mixin prod-item-sls(x,t,p)
	+b.item-prod--js
			+e.inner--js
				+e.head
					+e.status-wrap
						block
					+e.like
						+icon('star')
					+e.compare.active
						+icon('compare')
					+e.btn-fast.popup-with-move-anim(href="#modal-prod") Быстрый просмотр
					+e.img-wrap(href="#")
						span: img.res-img(src="img/prod-1.png" data-lazy=`img/prod-${x}.png`, alt="")
				+e.caption
					+e.title--js.h2(href="#")= t
					+e.text--js.small.text-gray= p
					+e.toggle-block
						+b.size-block
							.small Доступные размеры:
							+e.btn-wrap
								mixin in-ch( n, t)
									+b.LABEL.btn-input(data-toggle="popover" data-trigger="hover" data-content='<div class="pb-1"><span class="text-gray">Обхват головы: </span> <strong class="display-inline-block">24-28 см </strong></div><div class="pb-1"><span class="text-gray">Рекомендовано:  </span> <strong class="display-inline-block">новорожденным, недоношенным</strong></div>')
										+e.INPUT.input(type="radio" name= n)
										+e.SPAN.text= t
								+in-ch("size-prod","XL")
								+in-ch("size-prod","XL/L")
								+in-ch("size-prod","L")
								+in-ch("size-prod","L/M")
								+in-ch("size-prod","M")
								+in-ch("size-prod","M/S")
								+in-ch("size-prod","S")
								+in-ch("size-prod","S/XS")
								+in-ch("size-prod","XS")
								+in-ch("size-prod","Inf I")
								+in-ch("size-prod","Inf II")
								+in-ch("size-prod","Inf III")
					.row
						.col-12.d-none.d-sm-block
							// добавил 24.02
							.small.pb-1.text-primary  В наличии
							.small.pb-1.text-danger  Под заказ
							// /добавил 24.02
						.col-6.col-md-auto
							.h5.text-primary  15 000 Р
						.col-6.col-md-auto
							// добавил 24.02
							+e.btn-wrap.d-none.d-sm-block
								.smallest.text-danger.text-center  Выберите размер
								+e.A.btn.popup-with-move-anim(href="#modal-prod")  В корзину
							+e.btn-wrap.d-sm-none
								+e.A.btn.popup-with-move-anim.pl-0.pr-0(href="#modal-prod")
									+icon("basket")
										| Корзина
	// .item-prod


mixin prod-item-sls-komb(x,t,p)
	+b.item-prod--js
		+e.inner--js
			+e.head
				.d-flex
					.head-img
						+e.img-wrap(href="#")
							span: img.res-img(src="img/prod-1.png" data-lazy=`img/prod-${x}.png`, width='192' alt="")
					.head-img
						+e.plus
							+icon('plus')
						+e.img-wrap(href="#")
							span: img.res-img(src="img/prod-1.png" data-lazy=`img/prod-${x}.png`, width='192' alt="")
			+e.caption
				+e.title--js.h2(href="#")= t
				+e.text--js.small.text-gray= p
				.row.cost-row
					.col-6.col-md-auto
						.h5.text-primary  15 000 Р
					.col-6.col-md-auto
						+e.btn-wrap.d-none.d-sm-block
							+e.A.btn.popup-with-move-anim(href="#modal-prod")  В корзину
						+e.btn-wrap.d-sm-none
							+e.A.btn.popup-with-move-anim.pl-0.pr-0(href="#modal-prod")
								+icon("basket")
									| Корзина
	// .item-prod


mixin prod-item-sls-komb1(x,t,p)
	+b.item-config
		+e.wrapper
			.d-flex
				.element
					+e.head
						+e.plus
						+e.img-wrap(href="#")
							span: img.res-img(src="img/prod-1.png" data-lazy=`img/prod-${x}.png`, width='163' alt="")
					+e.caption
						+e.title(href="#")= t
						+e.text.small.text-gray= p
				.element
					+e.head
						+e.plus
						+e.img-wrap(href="#")
							span: img.res-img(src="img/prod-1.png" data-lazy=`img/prod-${x}.png`, width='163' alt="")
					+e.caption
						+e.title(href="#")= t
						+e.text.small.text-gray= p
				.element
					+e.head
						+e.plus
						+e.img-wrap(href="#")
							span: img.res-img(src="img/prod-1.png" data-lazy=`img/prod-${x}.png`, width='163' alt="")
					+e.caption
						+e.title(href="#")= t
						+e.text.small.text-gray= p
		+e.footer
			.col-8.col-sm-auto
				.h5.text-primary  15 000 Р
			.col-4.col-sm-auto
				+e.btn-wrap
					+e.A.btn.popup-with-move-anim.pl-0.pr-0(href="#modal-prod")
						+icon("basket")
							| Корзина
	// .item-prod

mixin s-catalog-config-kombinir(title)
	// start s-catalog
	+b.s-catalog.section.s-catalog--config#s-catalog
		+b.section-title
			.row
				.col
					.h2= title
				//.col-auto.d-none.d-md-block
				//	a.small(href="#") Смотреть все
				+e.subtitle.col-12 Подобрать продукцию MCSсap под Ваш электроэнцефалограф или ЭЭГ-усилитель222.
		.s-catalog__slider--combined
			- for (var x = 0; x < 4; x++)
				+prod-item-sls-komb1("1","CLINIC","Цветной Мq wqeq we qwe qwe qwe qwe qwe qwe qwe qwe qwe qwe qwe qweca sdac szfs  dsfa fsd")




mixin prod-item-sl(x,t,p)
	+b.item-prod--js
			+e.inner--js
				+e.status-wrap
					block
				+e.like
						// заменил название иконки

						+icon('star')

				+e.compare.active
					+icon('compare')
				+e.img-wrap(href="#")
					span: img.res-img(src=`img/prod-${x}.png`, alt="")
				+e.caption
					+e.title--js.h2(href="#")= t
					+e.text--js.small.text-gray= p
					+e.toggle-block
						+b.size-block
							.small Доступные размеры:
							+e.btn-wrap
								mixin in-ch( n, t)
									+b.LABEL.btn-input
										+e.INPUT.input(type="radio" name= n)
										+e.SPAN.text= t
								+in-ch("size-prod","XL")
								+in-ch("size-prod","XL/L")
								+in-ch("size-prod","L")
								+in-ch("size-prod","L/M")
								+in-ch("size-prod","M")
								+in-ch("size-prod","M/S")
								+in-ch("size-prod","S")
								+in-ch("size-prod","S/XS")
								+in-ch("size-prod","XS")
								+in-ch("size-prod","Inf I")
								+in-ch("size-prod","Inf II")
								+in-ch("size-prod","Inf III")
					.row
						.col-auto
							.h5.text-primary  15 000 Р
						.col-auto
							+e.A.btn.popup-with-move-anim(href="#modal-prod")  В корзину
	// .item-prod
mixin prod-item-gor(x,t,p)
	+b.item-prod--gorizontal
			+e.inner
				.row.no-gutters.my-0
					.col-sm-auto
						+e.btn-fast.popup-with-move-anim(href="#modal-prod") Быстрый просмотр
						+e.status-wrap
							block
						+e.like
							// заменил название иконки

							+icon('star')


						+e.img-wrap--gorizontal(href="#")
							span: img.res-img(src=`img/prod-${x}.png`, alt="")
					.col
						+e.caption--gorizontal
							.row.my-0
								.col
									+e.title.h2(href="#")= t
								.col-md-auto
									.h5.text-primary  15 000 Р
							.text-md-right
								a.compare-link(href="#")
									+icon('compare')
									| Убрать из сравнения
							.row.my-0

								.col
									+e.text.small.text-gray= p
								.col-md-auto
									+e.A.btn.popup-with-move-anim(href="#modal-prod")  В корзину
	// .item-prod
mixin prod-item-gor-sm(x,t,p)
	+b.item-prod--gorizontal
			+e.inner
				.row.no-gutters.my-0
					.col-sm-auto
						+e.status-wrap
							+e.video-yes
								+icon("video")
								|Есть  видео
						+e.like
							// заменил название иконки

							+icon('star')
						+e.img-wrap--gorizontal.--sm(href="#")
							span: img.res-img(src=`img/prod-${x}.png`, alt="")
					.col
						+e.caption--gorizontal
							.row.my-0
								.col
									+e.title.h2(href="#")= t
								.col-md-auto
									.h5.text-primary  15 000 Р
							.text-md-right
								a.compare-link(href="#")
									+icon('compare')
									| Убрать из сравнения
							.row.my-0

								.col
									+e.text.small.text-gray= p
								.col-md-auto
									+e.A.btn.popup-with-move-anim(href="#modal-prod")  В корзину
	// .item-prod

mixin s-catalog()
	// start s-catalog
	+b.s-catalog.section#s-catalog
		.container
			+b.section-title
				.row
					.col
						.h2.text-gray.fw-900 РЕКОМЕНДУЕМЫЕ ТОВАРЫ
					.col-auto.d-none.d-md-block
						a.small(href="#") Смотреть все

			+e.slider--mobile
				- for (var x = 0; x < 2; x++)
					+e.slide--mobile
						+prod-item-sls("1","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")
							+e.video-yes
								+icon("video")
								|Есть  видео
					+e.slide--mobile
						+prod-item-sls("1","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.slide--mobile
						+prod-item-sls("1","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
		.container.container-foot
			+e.A.btn-foot(href="#")
				+icon("make")
				| Создать свой MCScap

	// end s-catalog

		// end s-catalog

mixin s-catalog-config(title)
	// start s-catalog
	+b.s-catalog.section.s-catalog--config#s-catalog
			+b.section-title
				.row
					.col
						.h2= title
					//.col-auto.d-none.d-md-block
					//	a.small(href="#") Смотреть все
					+e.subtitle.col-12 Подобрать продукцию MCSсap под Ваш электроэнцефалограф или ЭЭГ-усилитель.

			+e.slider--mobile
				- for (var x = 0; x < 2; x++)
					+e.slide--mobile
						+prod-item-sls("1","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")
							+e.video-yes
								+icon("video")
								|Есть  видео
					+e.slide--mobile
						+prod-item-sls("1","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.slide--mobile
						+prod-item-sls("1","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")

mixin s-catalog-config-komb(title)
	// start s-catalog
	+b.s-catalog.section.s-catalog--config#s-catalog
			+b.section-title
				.row
					.col
						.h2= title
					//.col-auto.d-none.d-md-block
					//	a.small(href="#") Смотреть все
					+e.subtitle.col-12 Подобрать продукцию MCSсap под Ваш электроэнцефалограф или ЭЭГ-усилитель.

			.s-catalog__slider--combined
				- for (var x = 0; x < 2; x++)
					+e.slide--mobile
						+prod-item-sls-komb("1","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")
							+e.video-yes
								+icon("video")
								|Есть  видео
					+e.slide--mobile
						+prod-item-sls-komb("1","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.slide--mobile
						+prod-item-sls-komb("1","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")




mixin s-catalog-3()
	// start s-catalog
	+b.s-catalog.pt-3.section
		.container
			+b.section-title
				.row
					.col
						.h2.text-gray.fw-900 С ЭТИМ ТОВАРОМ ТАКЖЕ ПОКУПАЮТ
					.col-auto.d-none.d-md-block
						//- a.small(href="#") Смотреть все

			+e.slider
				- for (var x = 0; x < 2; x++)
					+e.slide
						+prod-item-sls("2","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")

					+e.slide
						+prod-item-sls("2","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.slide
						+prod-item-sls("2","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")

	// end s-catalog

mixin s-catalog-4()
	// start s-catalog
	+b.s-catalog.pt-0.section
		.container

			+e.head.small
				.row.align-items-center
					.col-sm.col
						.row.align-items-center
							.col-md-auto.col Сортировать по:
							.col-auto
								+e.select
									+e.option ↑ Цена
									+e.d-none
										div: a(href="#") ↑ Цена
										div: a(href="#") ↓ Цена

										div: a(href="#") ↑ Отзывы
										div: a(href="#") ↓ Отзывы
										div: a(href="#") ↑ Дата
										div: a(href="#") ↓ Дата
							.col-auto
								a.tdu.text-body(href="#") Новинки

					//- .col-auto
					.col-auto.text-md-left.text-right
						// edit block
						+e.btn-head(href="#")
							+icon('compare')
							span
								span.d-none.d-sm-inline Сравнение
								|
								| (2)
						.d-none.d-sm-inline-block
							.variant
								+icon("variant-1")
							.variant.active
								+icon("variant-2")
							.variant
								+icon("variant-3")
						// /edit block
			+e.row.row
				- for (var x = 0; x < 3; x++)
					+e.col.col-lg-4.col-md-6
						+prod-item-sl("2","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")

					+e.col.col-lg-4.col-md-6
						+prod-item-sl("2","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.col.col-lg-4.col-md-6
						+prod-item-sl("2","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")

	// end s-catalog

mixin s-catalog-6()
	// start s-catalog
	+b.s-catalog.pt-0.section
		.container
			+e.row.row
				- for (var x = 0; x < 1; x++)
					+e.col.col-lg-4.col-md-6
						+prod-item-sl("2","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")

					+e.col.col-lg-4.col-md-6
						+prod-item-sl("2","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.col.col-lg-4.col-md-6
						+prod-item-sl("2","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")

	// end s-catalog

mixin s-catalog-4-1()
	// start s-catalog
	+b.s-catalog.pt-0.section
		.container

			+e.head.small
				.row.align-items-center
					.col-sm.col
						.row.align-items-center
							.col-md-auto.col Сортировать по:
							.col-auto
								+e.select
									+e.option ↑ Цена
									+e.d-none
										div: a(href="#") ↑ Цена
										div: a(href="#") ↓ Цена

										div: a(href="#") ↑ Отзывы
										div: a(href="#") ↓ Отзывы
										div: a(href="#") ↑ Дата
										div: a(href="#") ↓ Дата
							.col-auto
								a.tdu.text-body(href="#") Новинки

					//- .col-auto
					.col-auto.text-md-left.text-right
						// edit block
						+e.btn-head(href="#")
							+icon('compare')
							span
								span.d-none.d-sm-inline Сравнение
								|
								| (2)
						.d-none.d-sm-inline-block
							.variant
								+icon("variant-1")
							.variant.active
								+icon("variant-2")
							.variant
								+icon("variant-3")
						// /edit block
			+e.row.row
				- for (var x = 0; x < 1; x++)
					+e.col.col-12
						+prod-item-gor("2","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")

					+e.col.col-12
						+prod-item-gor("2","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

				- for (var x = 0; x < 2; x++)
					+e.col.col-12
						+prod-item-gor-sm("2","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+icon("video")
								|Есть  видео
	// end s-catalog

mixin s-catalog-11()
	// start s-catalog
	+b.s-catalog.section#s-catalog
		.container
			+b.section-title
				.h2.text-gray.fw-900.ttu Вы недавно смотрели

			+e.slider
				- for (var x = 0; x < 2; x++)
					+e.slide
						+prod-item-sls("1","CLINIC","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")
							+e.status(style=" background-color: #42d76b;")
							+e.video-yes
								+icon("video")
								|Есть  видео
					+e.slide
						+prod-item-sls("1","SLEEP","Текстильный шлем с предустановленными Ag/AgCl ")
							+e.video-yes
								+icon("video")
								|Есть  видео

					+e.slide
						+prod-item-sls("1","PROFESSIONAL","Цветной текстильный шлем с предустановленными Ag/AgCl электродами MCScap-C и общим разъемом DB25М")


	// end s-catalog
